/node_modules
package-lock.json
/client/node_modules
/client/package-lock.json
unotes_meta.json
/.unotes

/client/.eslintcache

/config/keys_dev.js

# heruko needs to create /build
/build

/staging
/uploads

.DS_Store
